[data-module="main"][data-application="main"][data-template="default"]
    .header
        background-color: #000000
        color: #ffffff
        font-size: 16pt
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.5)